.draggable-element {
    cursor: grab !important;
}

.draggable-element:active {
    cursor: grabbing !important;
}

.clickable-element {
    cursor: pointer;
    /* display: inline !important; */
    /* position: relative !important;
    z-index: 1 !important; */
}